@import "tailwindcss";

@theme {
  --font-sans:
    "Funnel Sans", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  --color-navy: #213c51;
  --color-steel: #6594b1;
  --color-rose: #ddaed3;
  --color-cloud: #eeeeee;
}
